/* Global ================================ */
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(./images/pattern-background-desktop.svg) no-repeat var(--pale-blue);
  background-size: contain;
}

body,
button {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
}

/* Main ================================= */
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sr-only {
  height: 0;
  opacity: 0;
}

/* Card ================================= */
.card {
  width: 28.125rem;
  background-color: white;
  border-radius: 1.25rem;
  overflow: hidden;
  text-align: center;
}

/* Card body ============================ */
.title {
  margin-top: 3.125rem;
  font-weight: 900;
  color: var(--dark-blue);
}

.description {
  padding: 1.5rem 3rem;
  color: var(--desaturated-blue);
}

.order-info {
  list-style: none;
  margin: 0 3rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  background-color: var(--very-pale-blue);
  border-radius: 0.625rem;
}

.price {
  flex: 1;
  margin-left: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price strong {
  color: var(--dark-blue);
  font-weight: 900;
}

.price span {
  color: var(--desaturated-blue);
}

/* Buttons ============================ */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
}

.button-group button {
  width: 100%;
  border: none;
  height: 3.125rem;
  font-weight: 700;
  color: white;
  border-radius: 0.625rem;
  background-color: var(--bright-blue);
  box-shadow: 0 1.4375rem 1.25rem hsl(245, 75%, 52%, 0.2);
  cursor: pointer;
}

.button-group a {
  width: fit-content;
  text-decoration: none;
  font-weight: 700;
  margin: 2.1875rem 0 1.25rem;
  color: var(--desaturated-blue);
}